{
    "x-generator": "NSwag v13.19.0.0 (NJsonSchema v10.9.0.0 (Newtonsoft.Json v13.0.0.0))",
    "swagger": "2.0",
    "info": {
        "title": "Jack Henry Treasury BackOffice API",
        "version": "1.0.0"
    },
    "host": "treasurybackoffice.jackhenry.com",
    "basePath": "/Jha.Web.Treasury.BackOffice.API",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {
        "/TermsAndConditions": {
            "get": {
                "tags": ["TermsAndConditions"],
                "summary": "Retrieves the Terms and Conditions.",
                "operationId": "TermsAndConditions_Get",
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "TermsAndConditionsModel",
                        "schema": {
                            "$ref": "#/definitions/TermsAndConditionsModel"
                        }
                    }
                }
            },
            "post": {
                "tags": ["TermsAndConditions"],
                "summary": "Posts terms and conditions.",
                "operationId": "TermsAndConditions_Post",
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "THe TermsAndConditionsModel instance.",
                        "schema": {
                            "$ref": "#/definitions/TermsAndConditionsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "Success.",
                        "schema": {
                            "$ref": "#/definitions/TermsAndConditionsModel"
                        }
                    }
                }
            }
        },
        "/authentication/logon": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Logs onto the system.",
                "operationId": "Authentication_Logon",
                "parameters": [
                    {
                        "name": "input",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LogonInputModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "The LogonResponseModel instance.",
                        "schema": {
                            "$ref": "#/definitions/LogonResponseModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/health/api/health": {
            "get": {
                "tags": ["Health"],
                "summary": "Gets a the information for the health check.",
                "operationId": "Health_Get",
                "parameters": [
                    {
                        "type": "boolean",
                        "name": "skipDatabaseConnectivity",
                        "in": "query",
                        "description": "Skip database connectivity.",
                        "default": true,
                        "x-nullable": false
                    },
                    {
                        "type": "boolean",
                        "name": "skipRedisConnectivity",
                        "in": "query",
                        "description": "Skip redis connectivity.",
                        "default": true,
                        "x-nullable": false
                    },
                    {
                        "type": "boolean",
                        "name": "skipPackageInformation",
                        "in": "query",
                        "description": "Skip package information.",
                        "default": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "A HealthCheckActionResponse instance.",
                        "schema": {
                            "$ref": "#/definitions/HealthCheckActionResponse"
                        }
                    }
                }
            }
        },
        "/account/login": {
            "post": {
                "tags": ["Account"],
                "summary": "Initiates login for an FI user, checking initial login credentials and possibly MFA.\nReturns login credentials model.",
                "operationId": "Account_Login",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/UserModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InitialLoginCredentialModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/authenticatesecuretoken": {
            "post": {
                "tags": ["Account"],
                "summary": "Authenticates a secure token.",
                "operationId": "Account_AuthenticateSecureToken",
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "An instance of SecureTokenMfaLoginRequestModel.",
                        "schema": {
                            "$ref": "#/definitions/SecureTokenMfaLoginRequestModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "An instance of SecureTokenMfaLoginResponseModel.",
                        "schema": {
                            "$ref": "#/definitions/SecureTokenMfaLoginResponseModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/registersecuretoken": {
            "post": {
                "tags": ["Account"],
                "summary": "Registers a secure token.",
                "operationId": "Account_RegisterSecureToken",
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "An instance of RegisterSecureTokenMfaRequestModel.",
                        "schema": {
                            "$ref": "#/definitions/RegisterSecureTokenMfaRequestModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "An instance of RegisterSecureTokenMfaResponseModel.",
                        "schema": {
                            "$ref": "#/definitions/RegisterSecureTokenMfaResponseModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/securetokencredentials": {
            "get": {
                "tags": ["Account"],
                "summary": "Gets the users secure token credentials.",
                "operationId": "Account_GetSecureTokenCredentials",
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "User secure token credentials.",
                        "schema": {
                            "$ref": "#/definitions/SecureTokenMfaCredentialsResponseModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/logout": {
            "get": {
                "tags": ["Account"],
                "summary": "Ends the user's session.",
                "operationId": "Account_Logout",
                "parameters": [
                    {
                        "type": "string",
                        "name": "reason",
                        "in": "query",
                        "default": "",
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/OkResult"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/securityquestions": {
            "post": {
                "tags": ["Account"],
                "summary": "Save Security Question and Answers",
                "operationId": "Account_SecurityQuestions",
                "parameters": [
                    {
                        "name": "securityQuestions",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SecurityQuestionModel"
                            }
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/verifysecurityquestions": {
            "put": {
                "tags": ["Account"],
                "summary": "Validate MFA Challenge Questions Answers",
                "operationId": "Account_VerifySecurityQuestions",
                "parameters": [
                    {
                        "name": "securityQuestions",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SecurityQuestionModel"
                            }
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Credential"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/verifyuser": {
            "put": {
                "tags": ["Account"],
                "summary": "Initiates login in context of new user credentials.",
                "operationId": "Account_VerifyUser",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "description": "User to verify.",
                        "schema": {
                            "$ref": "#/definitions/UserModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "A new instance of InitialLoginCredentialModel.",
                        "schema": {
                            "$ref": "#/definitions/InitialLoginCredentialModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/VerifyUserForPasswordReset": {
            "put": {
                "tags": ["Account"],
                "summary": "Initiates login in context of resetting an existing user.",
                "operationId": "Account_VerifyUserForPasswordReset",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "description": "User to validate.",
                        "schema": {
                            "$ref": "#/definitions/UserModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "A new instance of InitialLoginCredentialModel.",
                        "schema": {
                            "$ref": "#/definitions/InitialLoginCredentialModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/updatepassword": {
            "put": {
                "tags": ["Account"],
                "summary": "Update User Password",
                "operationId": "Account_UpdatePassword",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/UserModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ChangePasswordViewModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/passwordrequirements": {
            "get": {
                "tags": ["Account"],
                "summary": "Get Password Strength Requirements",
                "operationId": "Account_PasswordRequirements",
                "parameters": [
                    {
                        "type": "string",
                        "name": "fiId",
                        "in": "query",
                        "required": true,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/getOnDemandMfaChallengeSecurityQuestions": {
            "put": {
                "tags": ["Account"],
                "summary": "Validate MFA Challenge Questions Answers",
                "operationId": "Account_GetOnDemandMfaChallengeSecurityQuestions",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/UserModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Credential"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/settings": {
            "get": {
                "tags": ["Account"],
                "operationId": "Account_Settings",
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserSettingsModel",
                        "schema": {
                            "$ref": "#/definitions/UserSettingsModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/currentFiDateTime": {
            "get": {
                "tags": ["Account"],
                "summary": "Retrieves the current date time for the financial institution",
                "operationId": "Account_CurrentFiDateTime",
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "Nullable`1\n            ",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/account/recentLogins": {
            "get": {
                "tags": ["Account"],
                "operationId": "Account_RecentLogins",
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserSettingsModel",
                        "schema": {
                            "$ref": "#/definitions/RecentLoginsModel"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/FeatureFlags/AllInstitutions": {
            "post": {
                "tags": ["FeatureFlags"],
                "summary": "Gets all the institutions.",
                "operationId": "FeatureFlags_GetAllInstitutions",
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "The GetAllInstitutionsRequest instance.",
                        "schema": {
                            "$ref": "#/definitions/GetAllInstitutionsRequest"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "A InstitutionCollection instance.",
                        "schema": {
                            "$ref": "#/definitions/InstitutionCollection"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/FeatureFlags/AllFeatureFlags": {
            "post": {
                "tags": ["FeatureFlags"],
                "summary": "Gets all the feature flags.",
                "operationId": "FeatureFlags_GetAllFeatureFlags",
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "The GetAllFeatureFlagsRequest instance.",
                        "schema": {
                            "$ref": "#/definitions/GetAllFeatureFlagsRequest"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "A FeatureFlagDataPage instance.",
                        "schema": {
                            "$ref": "#/definitions/FeatureFlagDataPage"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/FeatureFlags/SaveFeatureFlags": {
            "post": {
                "tags": ["FeatureFlags"],
                "summary": "Saves the feature flags.",
                "operationId": "FeatureFlags_SaveFeatureFlags",
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "The SaveFeatureFlagsRequest instance.",
                        "schema": {
                            "$ref": "#/definitions/SaveFeatureFlagsRequest"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "A Boolean value indicating whether the operation was successful or not.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "401": {
                        "x-nullable": false,
                        "description": "Session is expired.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "409": {
                        "x-nullable": false,
                        "description": "Handled Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    },
                    "500": {
                        "x-nullable": false,
                        "description": "Other Exception - See error message for details.",
                        "schema": {
                            "$ref": "#/definitions/ErrorHttpContent"
                        }
                    }
                }
            }
        },
        "/BaiConfiguration": {
            "get": {
                "tags": ["BaiConfiguration"],
                "summary": "Returns BAI configurations.",
                "operationId": "BaiConfiguration_GetBaiConfiguration",
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "The BaiConfigurationModel instance.",
                        "schema": {
                            "$ref": "#/definitions/BaiConfigurationModel"
                        }
                    }
                }
            },
            "post": {
                "tags": ["BaiConfiguration"],
                "summary": "Save configurations related to BAI.",
                "operationId": "BaiConfiguration_SaveBaiConfiguration",
                "parameters": [
                    {
                        "name": "baiConfigurationModel",
                        "in": "body",
                        "description": "THe BaiConfigurationModel instance.",
                        "schema": {
                            "$ref": "#/definitions/BaiConfigurationModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "The BaiConfigurationModel instance.",
                        "schema": {
                            "$ref": "#/definitions/BaiConfigurationModel"
                        }
                    }
                }
            }
        },
        "/checkImages/check": {
            "get": {
                "tags": ["CheckImages"],
                "summary": "End point to get check images.",
                "operationId": "CheckImages_GetCheckImage",
                "parameters": [
                    {
                        "type": "string",
                        "name": "checkImageNumber",
                        "in": "query",
                        "required": true,
                        "description": "The check image number.",
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "The CheckImageModel.",
                        "schema": {
                            "$ref": "#/definitions/CheckImageModel"
                        }
                    }
                }
            }
        },
        "/checkImages/deposit": {
            "get": {
                "tags": ["CheckImages"],
                "summary": "End point to get deposit images.",
                "operationId": "CheckImages_GetDepositSet",
                "parameters": [
                    {
                        "type": "string",
                        "name": "depositImageNumber",
                        "in": "query",
                        "required": true,
                        "description": "The deposit image number.",
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "The List of CheckImageModel",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CheckImageModel"
                            }
                        }
                    }
                }
            }
        },
        "/CompanyAdminSettings": {
            "get": {
                "tags": ["CompanyAdminSettings"],
                "summary": "Gets The Company Admin Settings.",
                "operationId": "CompanyAdminSettings_Get",
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserApprovalSettingsModel",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserApprovalSettingsModel"
                            }
                        }
                    }
                }
            }
        },
        "/CompanyAdminSettings/{id}": {
            "put": {
                "tags": ["CompanyAdminSettings"],
                "summary": "Updates the Approval Settings with the specified information.",
                "operationId": "CompanyAdminSettings_ApprovalSettings",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Approval Settings  Id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "approvalSettings",
                        "in": "body",
                        "description": "UserApprovalSettingsModel model to be updated.",
                        "schema": {
                            "$ref": "#/definitions/UserApprovalSettingsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserApprovalSettingsModel",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserApprovalSettingsModel"
                            }
                        }
                    }
                }
            }
        },
        "/companyUserAccountSettings": {
            "get": {
                "tags": ["CompanyUserAccountSettings"],
                "operationId": "CompanyUserAccountSettings_Get",
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "CompanyUserAccountSettingsModel",
                        "schema": {
                            "$ref": "#/definitions/CompanyUserAccountSettingsModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUserAccountSettings"],
                "operationId": "CompanyUserAccountSettings_Put",
                "parameters": [
                    {
                        "name": "companyUserAccountSettings",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CompanyUserAccountSettingsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "CompanyUserAccountSettingsModel",
                        "schema": {
                            "$ref": "#/definitions/CompanyUserAccountSettingsModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/resetpassword": {
            "post": {
                "tags": ["CompanyUser"],
                "summary": "Reset company user password.",
                "operationId": "CompanyUser_ResetPassword",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "True or False.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/users/search": {
            "post": {
                "tags": ["CompanyUser"],
                "summary": "Searches for users.",
                "operationId": "CompanyUser_Search",
                "parameters": [
                    {
                        "name": "searchUserModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SearchCompanyUserModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserSummaryModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/manualresetpassword": {
            "post": {
                "tags": ["CompanyUser"],
                "summary": "Manually reset company user password.",
                "operationId": "CompanyUser_ManualResetPassword",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "the company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "password",
                        "in": "body",
                        "description": "the password.",
                        "schema": {
                            "$ref": "#/definitions/LookupModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "True or False.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}": {
            "delete": {
                "tags": ["CompanyUser"],
                "summary": "Delete user.",
                "operationId": "CompanyUser_DeleteUser",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "True or False.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/setactive": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Sets as user as active or inactive",
                "operationId": "CompanyUser_SetActive",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "boolean",
                        "name": "isActive",
                        "in": "query",
                        "required": true,
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "comments",
                        "in": "query",
                        "required": true,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserModel",
                        "schema": {
                            "$ref": "#/definitions/UserSummaryModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/unlock": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Unlocks a user",
                "operationId": "CompanyUser_Unlock",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserModel",
                        "schema": {
                            "$ref": "#/definitions/UserSummaryModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/header": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets the header information when editing a user",
                "operationId": "CompanyUser_GetUserState",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserModel",
                        "schema": {
                            "$ref": "#/definitions/UserStateModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/productfeaturesummary": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets the product feature summary when editing a user",
                "operationId": "CompanyUser_GetProductFeatureSummary",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserModel",
                        "schema": {
                            "$ref": "#/definitions/UserProductFeatureSummaryModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/submit": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Submits new user information",
                "operationId": "CompanyUser_Submit",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "bool",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/discard": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Discards user information that is pending submission",
                "operationId": "CompanyUser_Discard",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "comments",
                        "in": "query",
                        "required": true,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "bool",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/approve": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Approves user information that has been submitted",
                "operationId": "CompanyUser_Approve",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "comments",
                        "in": "query",
                        "required": true,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "bool",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/reject": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Rejects user information that has been submitted",
                "operationId": "CompanyUser_Reject",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "comments",
                        "in": "query",
                        "required": true,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "bool",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/userinformation": {
            "post": {
                "tags": ["CompanyUser"],
                "summary": "Creates a new user using User Information",
                "operationId": "CompanyUser_SaveUserInformation",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "userInformation",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/UserInformationModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserInformationModel",
                        "schema": {
                            "$ref": "#/definitions/UserInformationModel"
                        }
                    }
                }
            },
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets a user's User Information",
                "operationId": "CompanyUser_GetUserInformation",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserInformationResponseModel",
                        "schema": {
                            "$ref": "#/definitions/UserInformationResponseModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/userchallengedetail": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Returns user challenge details.",
                "operationId": "CompanyUser_GetUserChallengeDetail",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "The ChallengeSettingsModel instance.",
                        "schema": {
                            "$ref": "#/definitions/ChallengeSettingsModel"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/accountaccess": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets a user's Account Access",
                "operationId": "CompanyUser_GetAccountAccess",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "GetUserAccountAccessModel",
                        "schema": {
                            "$ref": "#/definitions/GetUserAccountAccessModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Updates a user's Account Access",
                "operationId": "CompanyUser_SaveUserAccountAccess",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "accountAccess",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SaveUserAccountAccessModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "vocompanyId",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/productentitlements": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets a user's Product Entitlements",
                "operationId": "CompanyUser_GetUserProductEntitlements",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "productFeatureType",
                        "in": "query",
                        "required": true,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GetUserProductEntitlementsModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Updates a user's Product Entitlements",
                "operationId": "CompanyUser_SaveUserProductEntitlements",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "saveUserProductEntitlementsModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SaveUserProductEntitlementsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "bool",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/achproductentitlements": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets a user's Ach Entitlements",
                "operationId": "CompanyUser_GetUserAchEntitlements",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GetUserAchEntitlementsModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Updates a user's Product Entitlements Config",
                "operationId": "CompanyUser_SaveUserAchProductEntitlements",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "saveUserProductEntitlementsModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SaveUserAchProductEntitlementsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "bool",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/productlimits": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets a user's Product Limits",
                "operationId": "CompanyUser_GetUserProductLimits",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "string",
                        "name": "productFeatureType",
                        "in": "query",
                        "required": true,
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "vocompanyId",
                        "schema": {
                            "$ref": "#/definitions/GetUserProductLimitsResponseModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Updates a User's Product Limits Config",
                "operationId": "CompanyUser_SaveUserProductLimits",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "productLimitsConfig",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/GetUserProductLimitsResponseModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "bool",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/achlimits": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets a user's Ach limits",
                "operationId": "CompanyUser_GetUserAchLimits",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GetUserAchLimitsModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Updates a User's ACH Limits",
                "operationId": "CompanyUser_SaveUserAchLimits",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "achLimits",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/GetUserAchLimitsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{id}/users/{actionId}/unlockUserChallenge": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Unlocks User Challenge points",
                "operationId": "CompanyUser_UnlockUserChallenge",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "actionId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "boolean",
                        "name": "recollect",
                        "in": "query",
                        "required": true,
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserModel",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{id}/users/{actionId}/reCollectUserChallenge": {
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Recollect User Challenge Authentication Information",
                "operationId": "CompanyUser_ReCollectUserChallenge",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "actionId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "UserModel",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{id}/users/{actionId}/usertimeaccess": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets a User's Time Access",
                "operationId": "CompanyUser_GetUserTimeAccess",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "actionId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CompanyUserTimeAccess"
                        }
                    }
                }
            },
            "post": {
                "tags": ["CompanyUser"],
                "summary": "Updates a User's Time Access",
                "operationId": "CompanyUser_SaveUserTimeAccess",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "actionId",
                        "in": "path",
                        "required": true,
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "userTimeAccess",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CompanyUserTimeAccess"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/iprestrictions": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets IP restrictions.",
                "operationId": "CompanyUser_GetIpRestrictions",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "THe IP restriction data.",
                        "schema": {
                            "$ref": "#/definitions/IpRestrictionModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Update IP restrictions.",
                "operationId": "CompanyUser_PutIpRestrictions",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "boolean",
                        "name": "restricted",
                        "in": "query",
                        "required": true,
                        "description": "True or False.",
                        "x-nullable": false
                    },
                    {
                        "name": "models",
                        "in": "body",
                        "description": "The ICollection`1 of IpRestrictionAddressModel .",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/IpRestrictionAddressModel"
                            }
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/ssopospaysettings": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets SSO positive pay settings.",
                "operationId": "CompanyUser_GetUserSsoPosPaySettings",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "The SsoPosPayUserSettingsModel",
                        "schema": {
                            "$ref": "#/definitions/SsoPosPayUserSettingsModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Update SSO positive pay settings.",
                "operationId": "CompanyUser_PutUserSsoPosPaySettings",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The  SsoPosPayUserSettingsModel instance. ",
                        "schema": {
                            "$ref": "#/definitions/SsoPosPayUserSettingsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "True or False.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/receivablessettings": {
            "get": {
                "tags": ["CompanyUser"],
                "summary": "Gets user receivable settings.",
                "operationId": "CompanyUser_GetUserReceivablesSettings",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "THe ReceivablesUserSettingsModel instance.",
                        "schema": {
                            "$ref": "#/definitions/ReceivablesUserSettingsModel"
                        }
                    }
                }
            },
            "put": {
                "tags": ["CompanyUser"],
                "summary": "Updates user receivable settings.",
                "operationId": "CompanyUser_PutUserReceivablesSettings",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The ReceivablesUserSettingsModel instance.",
                        "schema": {
                            "$ref": "#/definitions/ReceivablesUserSettingsModel"
                        },
                        "x-nullable": true
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": false,
                        "description": "True or False.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "/companyuser/{companyId}/users/{userId}/generateenrollmentemail": {
            "post": {
                "tags": ["CompanyUser"],
                "summary": "Generates an enrollment email and sends it to the user's registered email.",
                "operationId": "CompanyUser_GenerateEnrollmentEmail",
                "parameters": [
                    {
                        "type": "integer",
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "description": "The company id.",
                        "format": "int32",
                        "x-nullable": false
                    },
                    {
                        "type": "integer",
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "description": "The user id.",
                        "format": "int32",
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
[...]
