on: [push]

name: Coveralls

jobs:
  build:
    name: Coveralls
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: yarn

      - name: install, run tests
        run: yarn install --frozen-lockfile --network-timeout 100000

      - name: install, run tests
        run: yarn test --runInBand --forceExit --no-watchman

      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
